@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


body {
    background-color: red;
    color: white;
    font-family: 'Pretendard';
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#haram {
    color: red;
}